In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import json
from flask import Flask, render_template, redirect
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
from pprint import pprint
import pandas as pd
Base = declarative_base()

In [ ]:
# url="https://datausa.io/api/data?drilldowns=State&measures=Population"

In [ ]:
# # Performing a GET request similar to the one we executed
# # earlier
# response = requests.get(url)
# print(response.url)

In [ ]:
# url = "http://www.omdbapi.com/?t="
# api_key = "&apikey=trilogy"
# response = requests.get(url + "The Great Wall" + api_key)
# print(response.url)

### Tried to extract data from URL, but it was forbidden. So the data was copied and pasted into population.txt

In [ ]:
# # Converting the response to JSON, and printing the result.
# data = response.json()
# print(data)

In [ ]:
# pprint(data)

In [10]:
file_name = "Resources/population.json"
import pandas as pd
df = pd.read_json(file_name)

In [11]:
from pandas.io.json import json_normalize
df=json_normalize(df['data'])

In [12]:
df.head()

    ID State        State  ID Year  Year  Population   Slug State
0  04000US39         Ohio     2018  2018    11689442         ohio
1  04000US72  Puerto Rico     2018  2018     3195153  puerto-rico
2  04000US01      Alabama     2018  2018     4887871      alabama
3  04000US55    Wisconsin     2018  2018     5813568    wisconsin
4  04000US02       Alaska     2018  2018      737438       alaska

In [13]:
df = df.reset_index()

In [14]:
df

     index   ID State        State  ID Year  Year  Population   Slug State
0        0  04000US39         Ohio     2018  2018    11689442         ohio
1        1  04000US72  Puerto Rico     2018  2018     3195153  puerto-rico
2        2  04000US01      Alabama     2018  2018     4887871      alabama
3        3  04000US55    Wisconsin     2018  2018     5813568    wisconsin
4        4  04000US02       Alaska     2018  2018      737438       alaska
..     ...        ...          ...      ...   ...         ...          ...
307    307  04000US29     Missouri     2013  2013     6044171     missouri
308    308  04000US34   New Jersey     2013  2013     8899339   new-jersey
309    309  04000US48        Texas     2013  2013    26448193        texas
310    310  04000US40     Oklahoma     2013  2013     3850568     oklahoma
311    311  04000US30      Montana     2013  2013     1015165      montana

[312 rows x 7 columns]

In [15]:
df=df.rename(columns={"index":"ID","ID State": "id_state", "State": "state",
                   "ID Year":"id_year","Year":"year",
                   "Population":"population","Slug State":"slug_state"})

In [17]:
df["ID"]=df["ID"]+1

In [18]:
df

      ID   id_state        state  id_year  year  population   slug_state
0      1  04000US39         Ohio     2018  2018    11689442         ohio
1      2  04000US72  Puerto Rico     2018  2018     3195153  puerto-rico
2      3  04000US01      Alabama     2018  2018     4887871      alabama
3      4  04000US55    Wisconsin     2018  2018     5813568    wisconsin
4      5  04000US02       Alaska     2018  2018      737438       alaska
..   ...        ...          ...      ...   ...         ...          ...
307  308  04000US29     Missouri     2013  2013     6044171     missouri
308  309  04000US34   New Jersey     2013  2013     8899339   new-jersey
309  310  04000US48        Texas     2013  2013    26448193        texas
310  311  04000US40     Oklahoma     2013  2013     3850568     oklahoma
311  312  04000US30      Montana     2013  2013     1015165      montana

[312 rows x 7 columns]

In [19]:
engine = create_engine('postgres+psycopg2://postgres:password@localhost:5432/project2_db')

In [20]:
df.to_sql(name='population_table',con=engine,if_exists='replace',index=False)